<!DOCTYPE html>
<html>
<body>
<form action="/" method="get">
    <select name="lang">
        <option value="en"><%= I18n.t(:english) %></option>
        <option value="swe"><%= I18n.t(:swedish) %></option>
    </select>
    <br>
    <input type="submit" value="<%= I18n.t(:change_lang) %>">
</form>
<h1><%= I18n.t(:here_is_the_snus) %></h1>
<% if defined?(list) %>
    <% list.each do |snus|%>
    <img src="/assets/img/<%= snus['image']%>" alt="bild" style="max-width:100px">
    <a href="/snus/<%=snus['id']%>"><%=snus['name']%></a>
    <% end%>
<% end%>
<br>
<a href="/create_new_user"><%= I18n.t(:create_new_user) %></a>
<br>
<a href="/add_snus"><%= I18n.t(:add_snus) %></a>
<br>
<% if !@user_id %>
<form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password"><%= I18n.t(:password) %>:</label>
    <input type="password" name="password">
    <input type="submit" value="<%= I18n.t(:login) %>">
</form>
<% end %>
<% if @user_id %>
  <p><%= I18n.t(:logged_in_as) %> <%= @user %></p>
  <a href="/logout"><%= I18n.t(:logout) %></a>
<% end %>

</body>
</html>
<style>
    body {
        background-color: hotpink;
        font-family: sans-serif;
    }
</style>